<h1>PicShare</h1>
<!-- <p><%= link_to "Log in", new_session_path %> -->
<div class="row">
  <div class="col-md-6">
    <%= link_to "Log in", log_in_path, class: ['btn', 'btn-info', 'btn-md'] %>
      <%= link_to "Sign up", new_user_path, class: ['btn', 'btn-info', 'btn-md'] %>
    </div>
</div>

<h5> Welcome, <%= current_user.email %> </h5>
